#App {
  background: linear-gradient(0deg, #03254E, #048BA8 );
  height: 100vh;
}

#Container {
  width: 80%;
  height: 800px;
  margin: auto;

  border: 2px solid white;
  border-radius: 10px;
}

#Container main h1 {
  font-size: 6rem;
  margin: 15px auto;

  text-align: center;
}